$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: green;

@import 'bootstrap';
@import 'bootstrap-responsive';



.footer {
	color: $grayLight;
	a{
        color: $gray;
    }
}

.container-body {
	padding-top:30px;
}

.navbar-inner {
	@include box-shadow(none !important);
    border: 0;	
}


/* Require for jQuery Masonry */
.box {
	margin:5px;
	padding:5px;
	font-size:11px;
	line-height:1.4em;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow:1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.description {
	margin: 10px 0 5px;
}

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}